
.banner,.para2
{
    width: 100%;
    
}

.creams
{
    float: right;
    width:70%;
    padding: 40px;
    padding-right: 200px;
}
.para1
{   color:#1D4387;
    font-size: 25px;
    
}

.saba1
{
    font-size: 20px;
    color: #8C9091;
    padding-left: 100px;
    width: 20%;
}
.saba2
{   
    color:#54565A;
    text-align: center;
   padding-left: 20px;
    width: 40%;
    font-size: 23px;
}
.youthboost
{
    width:25%;
    padding:15px;
    padding-left: 75px;
}
.skins
{  padding-left: 20px;
    width: 50%;
}

.haveitall,.symbols
{
   
    width:50%;
}
#symbols
{
    width: 100%;
    float: right;
}
#customer
{
    width: 100%;
    padding:50px;

}
.customer
{   float: left;
    width: 45%;
}
.promoter
{   float: right;
    width: 45%;
}
.individual
{ padding-left: 10px;
    color:#8C9091;
}
.products 
{
    padding-left: 10px;
    font-size: 25px;
     color:#54565A;
}
/* seddddddddddddddddddddddddddddd*/
.renewing
{   padding: 15px;
    border-radius: 90%;
    float: left;
  text-align: justify;
  padding-left: 50px;
   color: #8C9091;
  font-size: 25px;

}
.cleanser, .toner, .age, .daily, .nightcream, .scrub, .reviatalizing, .vitamin, .masque
{
    width:80%;
}
.age
{
    padding-top: 15px;
}
.nightcream
{
    padding-top: 75px;
}
.scrub
{
    padding-top: 52px;
}
.reviatalizing
{
    padding-top: 23px;
}
.vitamin
{
    padding-top: 160px;
}
.masque
{
    padding-top: 90px;
}
.medium, .candykush, .sunset
{
    width: 30%;
   
}
#customer1, .infused
{
  width: 100%;
}
.customer1
{  
    padding: 30px;
    float: left;
    width: 50%;
}
.promoter1
{
    padding: 30px;
  float: right;
  width: 50%;
}
.nature1
{
    padding: 10px;
    float:left;
    width:50%;
}
.infused1
{
    text-align: initial;
    color:#1D4387;
    font-size: 35px;
    width: 50%;
    float: right;
}
.repair
{ 
    padding:40px;
    padding-top: 400px;
  width: 50%;
  float: left;
}
.beautyboost
{
    padding: 40px;
  width: 50%;
  float: right;
}

.indiv
{ padding-left: 20px;
   width: 100%;
}
.img-fluid
{
    border-radius: 4%;
    background-color:#E3E4E7;
    padding: 10px;
}
.h2
{
    color:#8C9091;
}
